/* Not working yet I think */

/*
.reveal section.title h1 {
    margin-top: 2.3em;
}
*/

.reveal section.title small {
    margin-top: 15.3em;
    font-weight: bold;
    color: white;
}


/*
li::marker {
    font-size: 14pt;
}
*/
  
.normal-bullet {
    font-size: 14pt;
}

.smaller-table {
    font-size: 20pt;
}

.medium-table {
    font-size: 26pt;
}

.subtitle {
    font-size: small;
}

.speaker {
    font-size: medium;
}

.reveal h2 {
/*    font-family:'Times New Roman', Times, serif;  */
    font-size: 48pt;
}

.reveal div.smaller-bullet ul{

    font-size: 22pt;
}

.reveal ul {
    font-size: 24pt;
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em; }




